body {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center right;
    text-decoration: none; 
    

}
.lista {
font-family: "Open Sans,";
font-size: 18px;
color: black
}
